@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

// utils
$input-search-width: 597px;
$cart-link-width: 39px;
$cart-link-margin: 12px;
$header-height: 135px;
$page-padding: 351px;

// fonts
$base-font: 'Poppins', sans-serif;


// font-weights
$regular: 400;
$thin: 200;
$extra-thin: 100;
$bold: 900;