@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

// utils
$desktop-big-padding: 340px;
$desktop-medium-padding: 250px;
$desktop-small-padding: 150px;
$input-search-width-medium: 597px;
$input-search-width-small: 450px;
$cart-link-width: 39px;
$cart-link-margin: 12px;
$header-height: 135px;

// fonts
$base-font: 'Poppins', sans-serif;


// font-weights
$regular: 400;
$thin: 200;
$extra-thin: 100;
$bold: 900;