@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
.spinner {
  min-height: 100vh;
  justify-content: center;
  display: flex;
  padding: 5%;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1.5vw;
  background-color: var(--primary-color);
  flex-wrap: wrap;
  padding: 0 3vw;
}

.containerWithopenCart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1vw;
  background-color: var(--primary-color);
  flex-wrap: wrap;
  padding: 6vw;
  width: 40vw;
}
.products {
  background-color: var(--primary-color);
  width: 18vw;
  margin: 8% auto;
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(
      to bottom,
      var(--grey-scale-1),
      var(--quaternary-color)
    )
    1 10%;
  position: relative;
}
.productsWithopenCart {
  background-color: var(--primary-color);
  width: 20vw;
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(
      to bottom,
      var(--grey-scale-1),
      var(--quaternary-color)
    )
    1 10%;
  position: relative;
}

.product__image {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 2rem 0;
  background-color: var(--primary-color);
  object-fit: contain;
  width: 80%;
  height: 10rem;
}
.product__info {
  font-size: 1vw;
  font-weight: 900;
  text-align: center;
  font-family: "Tenor Sans";
}
.product__info p {
  margin-top: 1%;
  text-align: center;
}
.product__info-title {
  margin: 1% 8% 10%;
  height: 1rem;
  text-align: center;
  word-break: break-all;
}
.product__price-rate {
  width: calc(100%-3rem);
  display: flex;
  justify-content: space-between;
  padding: 2% 1.5rem;
  align-items: center;
}
.product__price-rate div {
  display: flex;
  padding: 5% 0;
}
.product__rating {
  align-self: center;
}
.product__button--add-cart {
  background-color: var(--tertiary-color);
  border: none;
  width: 95%;
  height: 3rem;
  margin: 2% auto;
}
.cart {
  z-index: 10;
  position: fixed;
  top: 10%;
  right: 5%;
}
.cart__icon {
  position: relative;
}
.cart__icon--length {
  font-family: "Gill Sans", sans-serif;
  position: absolute;
  top: -25%;
  left: 28%;
  font-size: 1.6rem;
  font-weight: 900;
  z-index: -1;
  color: var(--quinary-color);
}

.cart__products {
  background-color: var(--grey-scale-1);
  display: flex;
  flex-direction: column;
  padding: 2% 1%;
  width: 20vw;
  height: auto;
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  overflow: auto;
}
.cart__products--clean-cart {
  background-color: var(--grey-scale-2);
  border: none;
  height: 2rem;
  font-size: 0.8rem;
  margin: 1% 0;
  color: var(--primary-color);
}
.cart__products-title {
  text-align: center;
  padding: 5%;
  font-family: "Tenor Sans";
  font-weight: 900;
}
.cart__products--list {
  justify-content: space-between;
  padding: 3% 5%;
  background-color: var(--primary-color);
  border-bottom: 2px solid var(--grey-scale-4);
  width: 90%;
  margin: 2% auto;
}

.cart__products--list-details {
  display: flex;
  justify-content: space-between;
  height: auto;
}
.cart__products--image {
  width: 15%;
  height: auto;
  object-fit: contain;
}
.cart__products--infos {
  height: 10vh;
  font-size: 0.6rem;
  word-wrap: break-all;
  margin: 5% 2.5%;
  font-family: "Tenor Sans";
  font-weight: 900;
  text-align: center;
}
.cart__products--infos-price {
  margin: 10% auto;
}
.cart__products--info-description{
  font-size: 0.6rem;
  text-align: justify;
}
.cart__products--remove {
  background-color: var(--grey-scale-2);
  border: none;
  height: 2rem;
  font-size: 0.6rem;
  margin: 8% 0;
  color: var(--primary-color);
}
.cart__products--close {
  background-color: transparent;
  border: none;
  width: 30%;
  margin: 1% auto;
}
.cart__products--button-buy {
  padding: 1% auto;
  background-color: #89e83a;
  border: none;
  height: 3rem;
  color: var(--grey-scale-1);
  margin-bottom: 20%;
}
.cart__products--button-buy a {
  font-family: "Gill Sans", sans-serif;
  color: var(--grey-scale-4);
  font-size: 1.2rem;
  font-weight: 900;
}
.cart__products--button-buy a:hover {
  color: var(--grey-scale-4);
}
.cart__products--button-buy:hover {
  background-color: #bbee5b;
}

.filter {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1.5vw;
  background-color: var(--primary-color);
  flex-wrap: wrap;
  padding: 3vw;
}
.filterWithopenCart {
  display: flex;
  justify-content: start;
  background-color: var(--primary-color);
  padding: 0 6vw;
}
input {
  font-family: "Tenor Sans";
  font-weight: 900;
  font-size: 1rem;
  border: 2px solid var(--quaternary-color);
}
select {
  height: 2rem;
  font-family: "Tenor Sans";
  font-weight: 900;
  font-size: 1rem;
  border: none;
  background-color: var(--secondary-color);
  text-align: center;
}

.filter__button {
  height: 2rem;
  font-weight: 900;
  font-size: 1rem;
  font-family: "Tenor Sans";
  border: none;
  background-color: var(--tertiary-color);
}
.filter__button:last-child {
  background-color: var(--quaternary-color);
}

@media (max-width: 1200px) {
  .products {
    width: 25vw;
  }
  .containerWithopenCart {
    padding: 4vw;
  }
  .filterWithopenCart {
    display: none;
  }
  .cart__products {
    width: 25vw;
    height: 100%;
  }
}

@media (max-width: 900px) {
  .products {
    width: 30vw;
  }
  .product__info {
    font-size: 1.5vw;
  }
  .product__info-title {
    font-size: 1.5vw;
  }

  .product__price-rate {
    padding: 1% 1rem;
    font-size: 1.5vw;
  }
  .product__price-rate div {
    padding: 1% 0;
  }
  .product__button--add-cart {
    height: 2rem;
  }
  .containerWithopenCart {
    grid-template-columns: 1fr;
  }
  .productsWithopenCart {
    width: 35vw;
    margin: 3vw;
  }
  .cart__products {
    width: 45vw;
  }
}

@media (max-width: 700px) {
  .products {
    width: 45vw;
  }
  .product__info-title {
    font-size: 2vw;
  }
  .product__price-rate {
    font-size: 2vw;
  }
  .cart__products {
    padding: 0;
    width: 100vw;
  }
  .cart__products--list {
    width: 80%;
    margin: 2% auto;
  }
  .cart__products--button-buy {
    width: 80%;
    margin: auto;
  }
}
@media (max-width: 400px) {
  .container {
    margin: 10% auto;
    justify-content: center;
  }
  .products {
    width: 60vw;
  }
  .product__info-title {
    font-size: 4vw;
  }
  .product__price-rate div {
    font-size: 4vw;
    padding: 15% 0;
  }
  .cart__products--infos {
    font-size: 3vw;
  }
}
