@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --font: 'Inter', sans-serif;
    --bg-color: #EAEAEA;
    --main-color: #00ADB5;
    --text-color: #222831;
    --text-color-light: #393E46;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}